.logo img{
  float: left;
  width: 512px;
  padding-top: 20px;
  padding-left: 20px;
}

.logo a:hover {
  opacity: 50%;
}

.adv1 {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}

.line {
  border-bottom: 1px solid #ebebeb;
}

.h2-adv {
  font-size: 16px;
  color: #333;
}

.div-adv {
  margin: 25px 35px;
}

.p-adv {
  font-size: 13px;
}

.row-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.left {
  width: 200px;
}

.right {
  width: 385px;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  width: 585px;
}

.btn-advanced {
  margin-top: 20px;
  padding: 0 12px;
  box-shadow: none;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
}

nav ul {
  float: right;
  padding-top: 45px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  font-family: inter;
  font-size: 14px;
}

nav ul li a:link {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:visited {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: none;
  color: red;
}

.search {
  font-family: inter;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;

}

@media (max-width: 1280px) {
  .logo img {
    width: 256px;
    float: none;
    padding-left: 0;
    display:block;
    margin-left: auto;
    margin-right: auto;

  }
  nav ul li {
    display: block;
    text-align: center;
    line-height: 28px;
  }
  nav ul {
    /*
    position: fixed;
    left: 50%;
    padding-top: 128px;
    margin-left: -150px;
    */
    float: none;
    left: 0;
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
